In [25]:
import pandas as pd
import numpy as np

In [26]:
remuneraciones = pd.read_csv('Remuneraciones.csv', header=[0, 1])

In [29]:
remuneraciones

,Período (mes año),Agricultura y ganadería,Unnamed: 2_level_0,"Silvicultura, extracción de madera",Unnamed: 4_level_0,Pesca y actividades relacionadas con la pesca,Unnamed: 6_level_0,Extracción de petróleo crudo y gas natural,Unnamed: 8_level_0,Extracción de minerales metalíferos,...,Servicios n.c.p.,Unnamed: 112_level_0,sin definir,Unnamed: 114_level_0,Unnamed: 115_level_0,Unnamed: 116_level_0,Unnamed: 117_level_0,Unnamed: 118_level_0,Unnamed: 119_level_0,Unnamed: 120_level_0
,Unnamed: 0_level_1,Mujeres,Varones,Mujeres,Varones,Mujeres,Varones,Mujeres,Varones,Mujeres,...,Mujeres,Varones,Mujeres,Varones,Unnamed: 115_level_1,Unnamed: 116_level_1,Unnamed: 117_level_1,Unnamed: 118_level_1,Unnamed: 119_level_1,Unnamed: 120_level_1
0,ene-96,380.2,399.8,426.2,335.1,677.5,1313.3,2062.5,2386.7,1071.7,...,519.4,570.9,615.4,636.2,NaN,NaN,NaN,NaN,NaN,NaN
1,feb-96,406.8,398.1,416.0,338.7,614.5,1364.4,1919.6,2314.8,1413.3,...,504.1,556.8,599.3,628.9,NaN,NaN,NaN,NaN,NaN,NaN
2,mar-96,399.7,393.3,416.5,324.2,773.1,1395.1,1879.3,2284.9,1324.6,...,499.4,542.6,594.7,642.4,NaN,NaN,NaN,NaN,NaN,NaN
3,abr-96,375.9,394.6,396.7,334.1,677.2,1269.2,1928.7,2300.0,1121.7,...,493.4,534.2,567.7,611.9,NaN,NaN,NaN,NaN,NaN,NaN
4,may-96,395.6,389.8,411.2,339.0,750.7,1386.9,2090.3,2419.2,1302.8,...,491.7,542.3,626.4,643.2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,NaN,OEDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,NaN,SIPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,Tasa de femenidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,Trabajadores Registrados (SIPA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Eliminar columnas "Unnamed"
remuneraciones = remuneraciones.loc[:, ~remuneraciones.columns.get_level_values(0).str.contains('Unnamed', na=False)]

In [32]:
remuneraciones

,Período (mes año),Agricultura y ganadería,"Silvicultura, extracción de madera",Pesca y actividades relacionadas con la pesca,Extracción de petróleo crudo y gas natural,Extracción de minerales metalíferos,Explotación de otras minas y canteras,Alimentos,Tabaco,Productos textiles,...,Investigación y desarrollo,"Servicios jurídicos, contables y otros servicios a empresas",Agencias de empleo temporario,Enseñanza,Servicios sociales y de salud,Eliminación de desperdicios,Servicios de organizaciones empresariales,"Cinematografía, radio y televisión",Servicios n.c.p.,sin definir
,Unnamed: 0_level_1,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,...,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres,Mujeres
0,ene-96,380.2,426.2,677.5,2062.5,1071.7,854.7,627.2,1378.7,533.4,...,1071.4,573.0,590.2,511.7,673.7,307.9,793.7,726.8,519.4,615.4
1,feb-96,406.8,416.0,614.5,1919.6,1413.3,841.3,602.5,1427.0,508.4,...,1039.8,558.8,553.6,508.8,651.6,297.5,757.3,686.5,504.1,599.3
2,mar-96,399.7,416.5,773.1,1879.3,1324.6,888.1,610.3,1099.1,485.6,...,1033.0,543.6,548.7,498.5,634.3,291.5,751.4,669.4,499.4,594.7
3,abr-96,375.9,396.7,677.2,1928.7,1121.7,856.2,604.4,984.5,501.8,...,1031.1,542.5,538.5,498.2,632.5,294.6,734.6,663.2,493.4,567.7
4,may-96,395.6,411.2,750.7,2090.3,1302.8,869.0,623.5,946.7,518.1,...,1054.0,545.1,565.8,498.7,635.8,295.1,735.9,675.5,491.7,626.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,NaN,OEDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
329,NaN,SIPA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,Tasa de femenidad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,Trabajadores Registrados (SIPA),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN